* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  text-align: center;
  background-image: url("https://caelum-online-public.s3.amazonaws.com/assets-imersaodev/background_mentalista.png");
  border: red solid 1px;
  height: 100vh;
}

.container {
  margin: 5.5rem;
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 5rem;
  color: #caad8a;
  margin: 0 0 5px;
}

img {
  max-height: 45rem;
}